<div class='container'>
    <form method='POST' action="{% url 'plus_signup'%}">
        {% csrf_token %}
        <div class = "container">
            <h1>Sign Up!</h1>
            <form>
                Username:
                <br>
                <input name="username" type="text" value="">
                <br>
                Id(email):
                <br>
                <input name="id" type="email" value="">
                <br>
                Password:
                <br>
                <input name="password1" type="password" value="">
                <br>
                Address:
                <br>
                <input name="address" type="text" value="">
                <br>
                Class:
                <br>
                <input type="checkbox" name="class_check" value="exercise">
                <label for="chek1"> 야외활동</label><br>
                <input type="checkbox" name="class_check" value="study">
                <label for="chek2"> 교육</label><br>
                <input type="checkbox" name="class_check" value="leisure">
                <label for="chek2"> 문화</label>
                <input type="checkbox" name="class_check" value="study">
                <label for="chek2"> 상담</label>
                <input type="checkbox" name="class_check" value="trip">
                <label for="chek2"> 여행</label>
                <input type="checkbox" name="class_check" value="making">
                <label for="chek2"> 메이킹</label>
                <br>
                Day:
                <br>
                <input type="checkbox" name="day_check" value="monday">
                <label for="chek1"> 월요일</label><br>
                <input type="checkbox" name="day_check" value="tuesday">
                <label for="chek2"> 화요일</label><br>
                <input type="checkbox" name="day_check" value="wednesday">
                <label for="chek2"> 수요일</label>
                <input type="checkbox" name="day_check" value="thursday">
                <label for="chek2"> 목요일</label>
                <input type="checkbox" name="day_check" value="friday">
                <label for="chek2"> 금요일</label>
                <input type="checkbox" name="day_check" value="saturday">
                <label for="chek2"> 토요일</label>
                <input type="checkbox" name="day_check" value="sunday">
                <label for="chek2"> 일요일</label>
                <br>
                Job:
                <br>
                <input type="checkbox" name="job_check" value="student">
                <label for="chek1"> 학생</label><br>
                <input type="checkbox" name="job_check" value="worker">
                <label for="chek2"> 직장인</label><br>
                <br>
                <br>
                <input class="btn btn-primary" type="submit" value="Sign Up!">
        </div>
    </form>
</div>