<div class='container'>
    <form method='POST' action="{% url 'plz_signup'%}">
        {% csrf_token %}
        <div class = "container">
            <h1>Plz Sign Up!</h1>
            <form>
                Username:
                <br>
                <input name="username" type="text" value="">
                <br>
                Id(email):
                <br>
                <input name="id" type="email" value="">
                <br>
                Password:
                <br>
                <input name="password1" type="password" value="">
                <br>
                Address:
                <br>
                <input name="address" type="text" value="">
                <br>
                Class:
                <br>
                <input type="checkbox" name="class_check" value="exercise">
                <label> 야외활동</label><br>
                <input type="checkbox" name="class_check" value="study">
                <label> 교육</label><br>
                <input type="checkbox" name="class_check" value="leisure">
                <label> 문화</label>
                <input type="checkbox" name="class_check" value="study">
                <label> 상담</label>
                <input type="checkbox" name="class_check" value="trip">
                <label> 여행</label>
                <input type="checkbox" name="class_check" value="making">
                <label> 메이킹</label>
                <br>
                Group:
                <br>
                <input type="checkbox" name="group_check">
                <label> 단체</label><br>
                <br>
                <br>
                <input class="btn btn-primary" type="submit" value="Sign Up!">
        </div>
    </form>
</div>